{% extends 'base.html.twig' %}

{% set hello = 'Hello' %}
{% set world = 'World' %}

{% block title %}{{ hello }} {{ world }} - {{ parent() }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 id="title"></h1>


    <button id="getData">Get Data</button>
    <br>
    <img id="img" src="https://media.giphy.com/media/26gJzFBpaPjX1alt6/giphy.gif" alt="">
    <br>
    <textarea id="data" cols="50" rows="15"></textarea>
</div>
{% endblock %}

{% block javascripts %}
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
</script>
<script>
  $('#title').html('{{ hello }} {{ world }}')
  $('#img').hide()


  $('#getData').on('click', function(){
    $('#img').show()
    that = $(this);
    $.ajax({
      url:'https://jsonplaceholder.typicode.com/todos',
      type: "GET",
      dataType: "json",
      success: function (data)
      {
        console.log(data)
        $('#data').val(JSON.stringify(data));

      }
    });
    return false;
  });
</script>
{% endblock %}
